In [16]:
import time, requests, os
import pandas as pd
from pandas import DataFrame, Series

In [3]:
time.time()

1587455282.8212545

In [4]:
t1 = time.time()
# some code we want to measure
t2 = time.time()
t2 - t1

0.0

In [7]:
t1 = time.time()

total = 0
limit = 1000 # try changing this
for i in range(limit):
    total += i

t2 = time.time()

print("TOTAL:", total)
milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

TOTAL: 499500
ms: 1.0328292846679688

In [9]:
t1 = time.time()

# code to measure
r = requests.get("https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/lab-p10a/hello.txt")
r.raise_for_status()
data = r.text

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 886.4920139312744

In [10]:
t1 = time.time()

# code to measure
f = open("hello.txt", "w", encoding="utf-8")
f.write(data)
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 2.9926300048828125

In [11]:
t1 = time.time()

# code to measure
f = open("hello.txt", encoding="utf-8")
data = f.read()
f.close()

t2 = time.time()

milliseconds = (t2-t1) * 1000
print("ms:", milliseconds)

ms: 0.9629726409912109

In [15]:
def download(filename, url):
    # We do not download again if the file already exists
    if os.path.exists(filename):
        return (str(filename) + " already exists!")

    # TODO: Write the code to download the file from URL
    # and save it in `filename`

    return (str(filename) + " created!")
download("hello.html", "https://raw.githubusercontent.com/msyamkumar/cs220-projects/master/spring20/lab-p10a/hello.html")

'hello.html created!'

In [17]:
DataFrame([[1,2], [3,4]])

   0  1
0  1  2
1  3  4

In [18]:
DataFrame([{"x":1, "y":2},
           {"x":3, "y":4}])

   x  y
0  1  2
1  3  4

In [19]:
# option 3
DataFrame({"x":[1,3],
           "y":[2,4]})

   x  y
0  1  2
1  3  4

In [20]:
# option 4
DataFrame({"x":{"A":1,"B":3},
           "y":{"A":2,"B":4}})

   x  y
A  1  2
B  3  4