In [1]:
import csv

fifa_file = open('Fifa20.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
fifa_file.close()
header = player_data[0]
player_data = player_data[1:]
for row in player_data:
    for idx in [2, 4]:
        row[idx] = int(row[idx])

In [2]:
print(header)
for row in player_data[:5]:
    print(row)

['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Club', 'Position', 'Value', 'Wage', 'Preferred Foot', 'Jersey Number', 'Height', 'Weight']
['158023', 'L. Messi', 32, 'Argentina', 94, 'FC Barcelona', 'RW', '€95.5M', '€565K', 'Left', '10', "5'7", '159lbs']
['20801', 'Cristiano Ronaldo', 34, 'Portugal', 93, 'Juventus', 'ST', '€58.5M', '€405K', 'Right', '7', "6'2", '183lbs']
['190871', 'Neymar Jr', 27, 'Brazil', 92, 'Paris Saint-Germain', 'LW', '€105.5M', '€290K', 'Right', '10', "5'9", '150lbs']
['200389', 'J. Oblak', 26, 'Slovenia', 91, 'Atlético Madrid', 'GK', '€77.5M', '€125K', 'Right', '13', "6'2", '192lbs']
['183277', 'E. Hazard', 28, 'Belgium', 91, 'Real Madrid', 'LW', '€90M', '€470K', 'Right', '7', "5'9", '163lbs']

In [3]:
# Q1: What is the name of the youngest player?
def youngest_player():
    age = 50
    for i in range(len(player_data)):
        if player_data[i][2] < age:
            age = player_data[i][2]
            name = player_data[i][1]
    return name
    
youngest_player()

'A. Hložek'

In [4]:
# Q2: What is the name of the highest-paid player?
def highest_paid_player():
    wage = 0
    for i in range(len(player_data)):
        if format_figure(player_data[i][8]) > wage:
            wage = format_figure(player_data[i][8])
            name = player_data[i][1]
    return name
    
def format_figure(figure):
    for i in range(len(player_data)):
        if figure[-1] == "0":
            return 0
        elif figure[-1] == 'K':
            formated_figure = figure[1:-1]
            formated_figure = int(formated_figure) * 1000
            return formated_figure
        elif figure[-1] == 'M':
            formated_figure = figure[1:-1]
            formated_figure = float(formated_figure) * 1000000
            return formated_figure
        
highest_paid_player()

'L. Messi'

In [5]:
# Q3: What is the name of the highest valued player?
def highest_value_player():
    value = 0
    for i in range(len(player_data)):
        if format_figure(player_data[i][7]) > value:
            value = format_figure(player_data[i][7])
            name = player_data[i][1]
    return name
highest_value_player()

'Neymar Jr'

In [6]:
#Q4: What is the position of that player (in above q3)?
def get_position(name):
    for i in range(len(player_data)):
        if player_data[i][1] == name:
            break
    return player_data[i][6]
get_position('Neymar Jr')

'LW'

In [7]:
def get_column(col_name):
    column_list = []
    for i in range(len(player_data)):
        column_list.append(player_data[i][header.index(col_name)])
    return column_list

In [8]:
#Q5: What are the first five clubs listed in the dataset?
def limited_list(length, col_name):
    full_list = get_column(col_name)
    
    final_list = []
    for i in range(length):
        final_list.append(full_list[i])
    return final_list

limited_list(5, 'Club')

['FC Barcelona',
 'Juventus',
 'Paris Saint-Germain',
 'Atlético Madrid',
 'Real Madrid']

In [9]:
#Q6: Which six names are alphabetically first in the dataset?
def alphabetic_name(number):
    full_list = get_column('Name')
    full_list = sorted(full_list)
    final_list = []
    for i in range(number):
        final_list.append(full_list[i])
    return final_list
alphabetic_name(6)

['A. Abdallah',
 'A. Abdellaoui',
 'A. Abdennour',
 'A. Abdi',
 'A. Abdu',
 'A. Abedzadeh']

In [10]:
#Q7: What is the average Wage?
def formated_avg(col_name):
    full_list = get_column(col_name)
    formated_full_list = []
    for i in range(len(full_list)):
        formated_full_list.append(format_figure(full_list[i]))
    
    sum = 0
    for i in range(len(formated_full_list)):
        sum += formated_full_list[i]
    return sum / len(formated_full_list)

formated_avg('Wage')

9456.942772732247

In [11]:
#Q8: What is the average Overall?
def avg(col_name):
    full_list = get_column(col_name)
    sum = 0
    for i in range(len(full_list)):
        sum += full_list[i]
    return sum / len(full_list)

avg('Overall')

66.24499398183609

In [12]:
#Q9: How many players play in the position 'GK'?
def player_count(position):
    count = 0
    for i in range(len(player_data)):
        if player_data[i][6] == position:
            count += 1
    return count
player_count('GK')

2036

In [13]:
#Q10: How many players play in the position 'CAM'?
player_count('CAM')

1146

In [14]:
print(player_count('CB'))
print(player_count('GK'))

3162
2036

In [15]:
#Q11: Which is the most common position among the players in FIFA20?
def most_position():
    position_list = []
    for i in range(len(player_data)):
        position_list.append(player_data[i][6])
        position_list = set(position_list)
        position_list = list(position_list)
    position_count_list = []
    for i in range(len(position_list)):
        position_count_list.append(player_count(position_list[i]))
    
    count = 0
    for i in range(len(position_list)):
        if position_count_list[i] > count:
            count = position_count_list[i]
            idx = i
        
    return position_list[idx]
most_position()

'CB'

In [16]:
#Q12: what are the stats for the player with ID equal to '183277'?
def player_to_dict(player_id):
    stat_dict = {}
    for i in range(len(player_data)):
        if player_id == player_data[i][0]:
            break
    row_num = i
    
    for i in range(13):
        stat_dict[header[i]] = player_data[row_num][i]
    return(stat_dict)
player_to_dict('183277')

{'ID': '183277',
 'Name': 'E. Hazard',
 'Age': 28,
 'Nationality': 'Belgium',
 'Overall': 91,
 'Club': 'Real Madrid',
 'Position': 'LW',
 'Value': '€90M',
 'Wage': '€470K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "5'9",
 'Weight': '163lbs'}

In [17]:
#Q13: What are the stats for the player with ID equal to '209331'?
player_to_dict('209331')

{'ID': '209331',
 'Name': 'M. Salah',
 'Age': 27,
 'Nationality': 'Egypt',
 'Overall': 90,
 'Club': 'Liverpool',
 'Position': 'RW',
 'Value': '€80.5M',
 'Wage': '€240K',
 'Preferred Foot': 'Left',
 'Jersey Number': '11',
 'Height': "5'9",
 'Weight': '157lbs'}

In [18]:
#Q14: What are the stats for the player with ID equal to '195864'?
player_to_dict('195864')

{'ID': '195864',
 'Name': 'P. Pogba',
 'Age': 26,
 'Nationality': 'France',
 'Overall': 88,
 'Club': 'Manchester United',
 'Position': 'CM',
 'Value': '€72.5M',
 'Wage': '€250K',
 'Preferred Foot': 'Right',
 'Jersey Number': '6',
 'Height': "6'3",
 'Weight': '185lbs'}

In [19]:
#Q15: What are the stats for the player with ID equal to '177003'?
player_to_dict('177003')

{'ID': '177003',
 'Name': 'L. Modrić',
 'Age': 33,
 'Nationality': 'Croatia',
 'Overall': 90,
 'Club': 'Real Madrid',
 'Position': 'CM',
 'Value': '€45M',
 'Wage': '€340K',
 'Preferred Foot': 'Right',
 'Jersey Number': '10',
 'Height': "5'8",
 'Weight': '146lbs'}

In [20]:
#Q16: How many players prefer their right foot and how many players prefer their left foot?
def foot_preference():
    left_count = 0
    right_count = 0
    for i in range(len(player_data)):
        if player_data[i][9] == 'Left':
            left_count += 1
        else:
            right_count += 1
            
    foot_dict = {'Left' : left_count, 'Right': right_count}
    return foot_dict

foot_preference()

{'Left': 4318, 'Right': 13960}

In [21]:
#Q17: How many players are there per Nationality?
def nationality_count(nationality):
    count = 0
    for i in range(len(player_data)):
        if player_data[i][3] == nationality:
            count += 1
    return count

def nationality_player_num():
    nationality_dict = {}
    nationality_list = []
    for i in range(len(player_data)):
        if player_data[i][3] not in nationality_list:
            nationality_list.append(player_data[i][3])
    
    for i in range(len(nationality_list)):
        nationality_dict[nationality_list[i]] = nationality_count(nationality_list[i])
    
    return nationality_dict
nationality_player_num()

{'Argentina': 886,
 'Portugal': 344,
 'Brazil': 824,
 'Slovenia': 61,
 'Belgium': 268,
 'Germany': 1216,
 'Netherlands': 416,
 'Croatia': 126,
 'Egypt': 30,
 'France': 984,
 'Senegal': 127,
 'England': 1667,
 'Spain': 1035,
 'Italy': 732,
 'Uruguay': 164,
 'Poland': 324,
 'Denmark': 345,
 'Gabon': 16,
 'Korea Republic': 322,
 'Costa Rica': 30,
 'Slovakia': 54,
 'Bosnia Herzegovina': 66,
 'Serbia': 139,
 'Scotland': 277,
 'Hungary': 35,
 'Switzerland': 229,
 'Greece': 96,
 'Austria': 319,
 'Morocco': 94,
 'Sweden': 358,
 'Wales': 117,
 'Colombia': 591,
 'Czech Republic': 102,
 'Chile': 370,
 'Algeria': 50,
 'Ivory Coast': 105,
 'Togo': 13,
 'Norway': 350,
 'Mexico': 340,
 'Iceland': 46,
 'Finland': 72,
 'Jamaica': 29,
 'Albania': 43,
 'Guinea': 35,
 'Cameroon': 78,
 'Ghana': 130,
 'Montenegro': 33,
 'Ukraine': 69,
 'Russia': 81,
 'DR Congo': 54,
 'Central African Rep.': 4,
 'Venezuela': 66,
 'Nigeria': 126,
 'Armenia': 8,
 'Israel': 16,
 'Ecuador': 53,
 'Paraguay': 80,
 'Australia': 196,
 'Turkey': 294,
 'Romania': 287,
 'Japan': 453,
 'Mali': 55,
 'United States': 347,
 'Kosovo': 40,
 'Dominican Republic': 4,
 'Tanzania': 4,
 'China PR': 373,
 'Northern Ireland': 81,
 'Republic of Ireland': 348,
 'Tunisia': 35,
 'Cape Verde': 20,
 'FYR Macedonia': 20,
 'Burkina Faso': 16,
 'Kenya': 7,
 'Angola': 16,
 'South Africa': 72,
 'Peru': 35,
 'Syria': 4,
 'Gambia': 22,
 'New Zealand': 35,
 'Equatorial Guinea': 6,
 'Zimbabwe': 12,
 'Georgia': 25,
 'Canada': 61,
 'Estonia': 6,
 'Benin': 15,
 'Bulgaria': 41,
 'Mozambique': 4,
 'Honduras': 13,
 'Guinea Bissau': 21,
 'Iran': 15,
 'Philippines': 2,
 'Cyprus': 11,
 'Madagascar': 8,
 'Uzbekistan': 3,
 'Moldova': 12,
 'Cuba': 4,
 'Sierra Leone': 10,
 'Curacao': 16,
 'Zambia': 10,
 'Congo': 18,
 'Bolivia': 23,
 'Comoros': 9,
 'Iraq': 5,
 'Chad': 1,
 'Lithuania': 10,
 'Saudi Arabia': 310,
 'Panama': 12,
 'Libya': 4,
 'Bahrain': 1,
 'St Kitts Nevis': 4,
 'New Caledonia': 2,
 'Luxembourg': 9,
 'Trinidad & Tobago': 6,
 'Thailand': 4,
 'United Arab Emirates': 22,
 'Eritrea': 1,
 'Korea DPR': 4,
 'El Salvador': 4,
 'Azerbaijan': 6,
 'Latvia': 6,
 'Montserrat': 3,
 'Puerto Rico': 1,
 'Bermuda': 3,
 'São Tomé & Príncipe': 1,
 'Antigua & Barbuda': 7,
 'Burundi': 4,
 'Kazakhstan': 2,
 'Liberia': 1,
 'Guyana': 4,
 'Haiti': 7,
 'Jordan': 1,
 'Faroe Islands': 5,
 'Mauritania': 5,
 'Namibia': 2,
 'Rwanda': 2,
 'Uganda': 3,
 'Hong Kong': 1,
 'Chinese Taipei': 1,
 'Belize': 1,
 'Palestine': 4,
 'Mauritius': 1,
 'Guam': 1,
 'Suriname': 2,
 'Lebanon': 3,
 'Guatemala': 2,
 'Sudan': 3,
 'Liechtenstein': 2,
 'Grenada': 2,
 'St Lucia': 1,
 'Afghanistan': 2,
 'Ethiopia': 1,
 'Barbados': 1,
 'India': 23,
 'Malta': 2,
 'Niger': 3,
 'Vietnam': 1,
 'Malawi': 1,
 'Gibraltar': 1,
 'Macau': 1,
 'South Sudan': 1,
 'Indonesia': 1}

In [22]:
#Q18: What is the average player score (represented by the Overall column) per Nationality?
def nationality_count(nationality):
    count = 0
    for i in range(len(player_data)):
        if player_data[i][3] == nationality:
            count += 1
    return count
def avg_overall(nationality):
    overall_sum = 0
    for i in range(len(player_data)):
        if player_data[i][3] == nationality:
            overall_sum += player_data[i][4]
    num_players = nationality_count(nationality)
    return overall_sum / num_players

def nationality_avg():
    nationality_dict = {}
    nationality_list = []
    for i in range(len(player_data)):
        if player_data[i][3] not in nationality_list:
            nationality_list.append(player_data[i][3])
    
    for i in range(len(nationality_list)):
        nationality_dict[nationality_list[i]] = avg_overall(nationality_list[i])
    
    return nationality_dict
nationality_avg()

{'Argentina': 69.11851015801355,
 'Portugal': 70.51453488372093,
 'Brazil': 71.1614077669903,
 'Slovenia': 68.70491803278688,
 'Belgium': 68.43283582089552,
 'Germany': 65.93914473684211,
 'Netherlands': 68.14903846153847,
 'Croatia': 69.78571428571429,
 'Egypt': 70.1,
 'France': 67.41666666666667,
 'Senegal': 68.64566929133858,
 'England': 63.251949610077986,
 'Spain': 69.9536231884058,
 'Italy': 67.65710382513662,
 'Uruguay': 71.64634146341463,
 'Poland': 63.49074074074074,
 'Denmark': 63.68115942028985,
 'Gabon': 70.6875,
 'Korea Republic': 63.683229813664596,
 'Costa Rica': 68.23333333333333,
 'Slovakia': 69.31481481481481,
 'Bosnia Herzegovina': 68.87878787878788,
 'Serbia': 69.48920863309353,
 'Scotland': 64.75090252707581,
 'Hungary': 69.68571428571428,
 'Switzerland': 64.8471615720524,
 'Greece': 69.39583333333333,
 'Austria': 65.59561128526646,
 'Morocco': 69.69148936170212,
 'Sweden': 63.79050279329609,
 'Wales': 64.6923076923077,
 'Colombia': 65.67851099830796,
 'Czech Republic': 70.31372549019608,
 'Chile': 64.80540540540541,
 'Algeria': 71.38,
 'Ivory Coast': 69.0,
 'Togo': 69.38461538461539,
 'Norway': 63.02857142857143,
 'Mexico': 65.80882352941177,
 'Iceland': 67.28260869565217,
 'Finland': 63.81944444444444,
 'Jamaica': 66.6896551724138,
 'Albania': 66.4186046511628,
 'Guinea': 68.8,
 'Cameroon': 68.33333333333333,
 'Ghana': 66.97692307692307,
 'Montenegro': 66.36363636363636,
 'Ukraine': 69.8695652173913,
 'Russia': 69.33333333333333,
 'DR Congo': 68.4074074074074,
 'Central African Rep.': 70.5,
 'Venezuela': 67.07575757575758,
 'Nigeria': 67.15079365079364,
 'Armenia': 69.375,
 'Israel': 71.125,
 'Ecuador': 70.49056603773585,
 'Paraguay': 69.7875,
 'Australia': 62.58163265306123,
 'Turkey': 66.06802721088435,
 'Romania': 63.70383275261324,
 'Japan': 63.69094922737307,
 'Mali': 67.50909090909092,
 'United States': 64.53025936599424,
 'Kosovo': 66.625,
 'Dominican Republic': 67.5,
 'Tanzania': 63.25,
 'China PR': 59.48525469168901,
 'Northern Ireland': 63.79012345679013,
 'Republic of Ireland': 61.00574712643678,
 'Tunisia': 68.25714285714285,
 'Cape Verde': 70.5,
 'FYR Macedonia': 68.7,
 'Burkina Faso': 66.4375,
 'Kenya': 65.28571428571429,
 'Angola': 69.375,
 'South Africa': 67.72222222222223,
 'Peru': 69.74285714285715,
 'Syria': 70.25,
 'Gambia': 65.31818181818181,
 'New Zealand': 64.17142857142858,
 'Equatorial Guinea': 69.0,
 'Zimbabwe': 67.25,
 'Georgia': 69.04,
 'Canada': 63.91803278688525,
 'Estonia': 66.33333333333333,
 'Benin': 67.66666666666667,
 'Bulgaria': 63.46341463414634,
 'Mozambique': 73.25,
 'Honduras': 68.38461538461539,
 'Guinea Bissau': 67.38095238095238,
 'Iran': 69.0,
 'Philippines': 69.0,
 'Cyprus': 61.72727272727273,
 'Madagascar': 70.25,
 'Uzbekistan': 67.66666666666667,
 'Moldova': 65.0,
 'Cuba': 67.25,
 'Sierra Leone': 63.0,
 'Curacao': 66.0,
 'Zambia': 67.1,
 'Congo': 65.44444444444444,
 'Bolivia': 66.04347826086956,
 'Comoros': 65.22222222222223,
 'Iraq': 67.6,
 'Chad': 73.0,
 'Lithuania': 63.4,
 'Saudi Arabia': 60.92903225806452,
 'Panama': 66.0,
 'Libya': 71.0,
 'Bahrain': 72.0,
 'St Kitts Nevis': 62.75,
 'New Caledonia': 67.5,
 'Luxembourg': 65.66666666666667,
 'Trinidad & Tobago': 65.83333333333333,
 'Thailand': 64.0,
 'United Arab Emirates': 62.86363636363637,
 'Eritrea': 71.0,
 'Korea DPR': 65.75,
 'El Salvador': 67.25,
 'Azerbaijan': 62.833333333333336,
 'Latvia': 61.666666666666664,
 'Montserrat': 66.0,
 'Puerto Rico': 70.0,
 'Bermuda': 63.666666666666664,
 'São Tomé & Príncipe': 70.0,
 'Antigua & Barbuda': 59.42857142857143,
 'Burundi': 63.75,
 'Kazakhstan': 68.0,
 'Liberia': 69.0,
 'Guyana': 63.5,
 'Haiti': 63.285714285714285,
 'Jordan': 68.0,
 'Faroe Islands': 61.4,
 'Mauritania': 65.2,
 'Namibia': 67.0,
 'Rwanda': 64.0,
 'Uganda': 66.0,
 'Hong Kong': 67.0,
 'Chinese Taipei': 66.0,
 'Belize': 66.0,
 'Palestine': 62.0,
 'Mauritius': 66.0,
 'Guam': 66.0,
 'Suriname': 66.0,
 'Lebanon': 64.0,
 'Guatemala': 65.5,
 'Sudan': 62.666666666666664,
 'Liechtenstein': 62.0,
 'Grenada': 60.5,
 'St Lucia': 64.0,
 'Afghanistan': 62.0,
 'Ethiopia': 64.0,
 'Barbados': 64.0,
 'India': 60.0,
 'Malta': 60.0,
 'Niger': 57.0,
 'Vietnam': 62.0,
 'Malawi': 62.0,
 'Gibraltar': 62.0,
 'Macau': 61.0,
 'South Sudan': 59.0,
 'Indonesia': 56.0}

In [23]:
#Q19: Which Nationality has the highest average Overall?
def highest_avg_overall_nationality():
    dict = nationality_avg()
    avg_list = sorted(dict.values())
    keys = sorted(dict.keys())
    
    for i in range(len(dict)):
        if avg_overall(keys[i]) == avg_list[-1]:
            break
    
    return keys[i]
highest_avg_overall_nationality()

'Mozambique'

In [24]:
avg_overall('Mozambique')

73.25

In [25]:
dict = {'0': 'b', '2' : 'c', '1': 'a'}
keys = sorted(dict.keys())
values = sorted(dict.values())
print(keys)
print(values)
print(keys[-1])
print(values[-1])

['0', '1', '2']
['a', 'b', 'c']
2
c

In [26]:
#Q20: Which Club has the highest average Value?
def club_count(club):
    count = 0
    for i in range(len(player_data)):
        if player_data[i][5] == club:
            count += 1
    return count
def avg_overall(club):
    overall_sum = 0
    for i in range(len(player_data)):
        if player_data[i][5] == club:
            overall_sum += player_data[i][4]
    num_players = club_count(club)
    return overall_sum / num_players

def club_avg():
    club_dict = {}
    club_list = []
    for i in range(len(player_data)):
        if player_data[i][5] not in club_list:
            club_list.append(player_data[i][5])
    
    for i in range(len(club_list)):
        club_dict[club_list[i]] = avg_overall(club_list[i])
    
    
    return club_dict

def highest_overall_club():
    dict = club_avg()
    avg_list = sorted(dict.values())
    keys = sorted(dict.keys())
    
    for i in range(len(dict)):
        if avg_overall(keys[i]) == avg_list[-1]:
            break
    
    return keys[i]

highest_overall_club()

'FC Bayern München'